.footer-container{
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-telegram{
    display: flex;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    background: linear-gradient(180deg, #2AABEE 0%, #229ED9 100%);
    justify-content: center;
    align-items: center;
}

.telegram-image{
    width: 24px;
    height: 20px;
}