.navbar-container{
    display: flex;
    padding: 20px 90px;
}

.div-logo{
    margin-right: 190px;
}

.logo-image{
    height: 80px;
}

.div-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-align: center;
    margin: 0 20px;
    color: #2B2B2B;
    text-decoration: none
}