.navbar-container{
    display: flex;
    padding: 20px 90px;
}

.div-logo{
    margin-right: 160px;
}

.logo-image{
    height: 50px;
}

.div-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 20px;
    color: #2B2B2B;
    text-decoration: none;
}

.footer-container{
    width: 100%;
    margin-top: 130px;
    align-items: center;
}