body{
    background-color: #FFFFFF;
}

.welcome-container{
    display: flex;
    flex-direction: column;
    background-image: url('../images/main_circles.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: right top;
}

.title-container{
    display: flex;
}

.welcome-div{
    padding-left: 90px;
}

.wel-title{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 60px;
}

.wel-body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

.div-cooperate{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 26px;
    width: 170px;
    height: 20px;
    background: #D0570C;
    border-radius: 8px;
}

.cooperate-btn{
    height: 20px;
    cursor: pointer;
    width: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    outline: none;
    background: transparent;
    border: 0;
}

.bx-title{
    width: 80%;
}

.main-image{
    width: 670px;
    height: 700px;
}

.about-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
}

.main-text{
    font-family: Inter, sans-serif;
    width: 70%;
    font-size: 20px;
    line-height: 24px;
}

.main-title{
    font-family: Inter, sans-serif;
    margin-top: 100px;
    font-weight: 600;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
}

.main-photo{
    height: 500px;
}

.main-container{
    display: flex;
    align-items: center;
}

.p-container{
    display: flex;
    flex-direction: column;
}

.div-about{
    margin: 0 100px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.div-inside{
    padding-left: 10px;
    border-left: 3px solid #D06725;
}

.p-title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.p-body{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #6C6C6C;
}

.product-container{
    margin-top: 110px;
    background-color: #FFF2EB;

}

.title-product{
    font-family: 'Inter', sans-serif;
    padding: 30px 0;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}

.example-product{
    display: flex;
    margin: 0 90px;
}

.div-desc{
    padding: 30px 50px;
}

.product-img{
    padding-bottom: 30px;
    width: 480px;
    height: 490px;
}

.name-product{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
}

.p-desc{
    width: 90%;
    color: #554B44;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.footer-cooperate{
    display: flex;
    height: 300px;
    background-color: #E48952;
    align-items: center;
    margin-top: 170px;
}

.container-cooperate-footer{
    font-family: 'Roboto', sans-serif;
    margin: 0 50px;
}

.cooperate-shoes{
    width: 350px;
    height: 430px;
    margin-left: 90px;
}

.cooperate-title{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 700;
}

.cooperete-main{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 20px;
    color: #FFFFFF;
}

.span-bonus{
    font-weight: 700;
    font-size: 24px;
    color: #521F00;
}

.div-cooperate-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 26px;
    width: 170px;
    height: 20px;
    background: #521F00;
    border-radius: 8px;
}

.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title{
    margin-top: 150px;
    color: #2B2B2B;
    font-family: Inter, sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
}

.questions-container{
    margin-top: 50px;
    width: 980px;
    border-top: 1px solid #D06725;
}

.div-quiz{
    border-bottom: 1px solid #D06725;
}

.div-question{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 10px;
}

.qu-an-img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.div-answer{
    display: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 10px;
    font-family: 'Inter', sans-serif;
}