<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/singup.css') }}">
    <title>Braxton</title>
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>