<div class="footer-container">
    <div class="div-logo-footer">
        <img class="logo-image" src="{{ url_for('static', filename='images/NEW_LOGO.svg') }}">
    </div>
    <div class="div-links">
        <a class="nav-link" href="#">Наша компанія</a>
        <a class="nav-link" href="#">Вигода для клієнта</a>
        <a class="nav-link" href="#">Приклади товарів</a>
        <a class="nav-link" href="#">FAQ</a>
    </div>
    <div class="div-telegram">
        <img class="telegram-image" src="{{ url_for('static', filename='images/tele.png') }}">
    </div>
</div>