{% extends 'base.html' %}

{% block content %}
    <div class="welcome-container">
        {% include 'navbar.html' %}
        <div class="title-container">
            <div class="welcome-div">
                <p class="wel-title">Шкіряне взуття по системі дропшипінг</p>
                <p class="wel-body">Заробляй разом з нами</p>
                <div class="div-cooperate">
                    <button class="cooperate-btn">Співпрацювати</button>
                </div>
            </div>
        </div>
        <div class="about-container">
            <img class="bx-title" src="{{ url_for('static', filename='images/bx_main.png') }}">
            <div class="main-text">
                Компанія BRAXTON™ — це український бренд заснований у 1992 році який зміг зарекомендувати себе як виробник високоякісного товару, що відрізняється оригінальним дизайном. Пропонує натуральне шкіряне взуття, яке виготовляється з високоякісних матеріалів.
            </div>
        </div>
    </div>
    <p class="main-title">Що ви отримуєте працюючи з нами</p>
    <div class="main-container">
        <div>
            <img class="main-photo" src="{{ url_for('static', filename='images/composition.png') }}">
        </div>
        <div class="p-container">
            <div class="div-about">
                <div class="div-inside">
                    <div class="p-title">
                        Якість
                    </div>
                    <div class="p-body">
                        За допомогою сучасного обладнання та висококваліфікованих фахівців виходить домогтися високої якості продукції
                    </div>
                </div>

            </div>
            <div class="div-about">
                <div class="div-inside">
                    <div class="p-title">
                        Висока маржинальність
                    </div>
                    <div class="p-body">
                        Ми надаємо найкращі ціни на товари завдяки тому, що самі виготовляємо продукцію, а дисконтна система знижок дозволить вам заробляти більше
                    </div>
                </div>
            </div>
            <div class="div-about">
                <div class="div-inside">
                    <div class="p-title">
                        Контент, що продає
                    </div>
                    <div class="p-body">
                        В онлайн-продажах контент це велика частина успіху, тому наша команда робить багато продаючого фото та відео контенту
                    </div>
                </div>
            </div>
            <div class="div-about">
                <div class="div-inside">
                    <div class="p-title">
                        Зручність використання
                    </div>
                    <div class="p-body">
                        Зручний особистий кабінет з вивантаженнями та CRM система для оформлення замовлень, їх контролю та підрахунку заробітку
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-container">
        <div class="title-product">Приклади товарів</div>
        <div class="example-product">
            <img id="product1" class="product-img" src="{{ url_for('static', filename='images/product1.png') }}">
            <div class="div-desc">
                <div class="name-product">
                    Зимові шкіряні черевики
                </div>
                <div class="desc-product">
                    <p class="p-desc">
                        Дана модель виготовляється з гладкої шкіри та поліуретанової підошви.
                    </p>
                    <p class="p-desc">
                        Гладка шкіра - загальне позначення для різних видів шкір з щільною і гладкою лицьовою поверхнею, яка досягається шляхом спеціальної обробки верхнього шару шкури тварини.
                    </p>
                    <p class="p-desc">
                        Поліуретанова підошва - матеріал не високої щільності, завдяки чому поглинає удари та має малу вагу, стійкий до стирання, містить чудові теплоізоляційні та водонепроникні властивості.
                    </p>
                </div>
            </div>
        </div>
        <div class="example-product">
            <div class="div-desc">
                <div class="name-product">
                    Зимові замшеві черевики
                </div>
                <div class="desc-product">
                    <p class="p-desc">
                        Дана модель виготовляється з гідрофобного велюру та термогумової підошви
                    </p>
                    <p class="p-desc">
                        Велюр - це шкіра хромового дублення, відшліфована дрібнозернистими матеріалами із внутрішньої поверхні шкури, а нубук з лицьового боку.
                    </p>
                    <p class="p-desc">
                        Термогумова підошва - морозостійка та неслизька підошва. Має відмінні характеристики: стійкадо стирання, міцна і щільна. Відмінний варіант для демісезонного та для зимового взуття.
                    </p>
                </div>
            </div>
            <img id="product2" class="product-img" src="{{ url_for('static', filename='images/product2.png') }}">
        </div>
    </div>

    <div class="footer-cooperate">
        <img class="cooperate-shoes" src="{{ url_for('static', filename='images/shoes.png') }}">
        <div class="container-cooperate-footer">
            <div class="cooperate-title">
                Все ще думаєш почати займатися дропшипінгом?
            </div>
            <div class="cooperete-main">
                Отримай <span class="span-bonus">300 гривень</span> на свій особистий рахунок та почни заробляти разом з нами.
            </div>
            <div class="div-cooperate-footer">
                    <button class="cooperate-btn">Співпрацювати</button>
            </div>
        </div>
    </div>

    <div class="faq-container">
        <div class="faq-title">FAQ</div>
        <div class="questions-container">
            <div class="div-questions">
                <div class="div-quiz">
                    <div class="div-question">
                        <div class="question">Чи є гарантія на товар?</div>
                        <img id="quiz-1" class="qu-an-img" src="{{ url_for('static', filename='images/plus.png') }}">
                    </div>
                    <div id="answer-1" class="div-answer">
                        <div class="answer">
                            Зазвичай ми не допускаємо брак, але в разі чого без проблем поміняємо товар, або зробимо повернення грошей
                        </div>
                    </div>
                </div>
                <div class="div-quiz">
                    <div class="div-question">
                        <div class="question">Як відбувається відправлення товару?</div>
                        <img id="quiz-2" class="qu-an-img" src="{{ url_for('static', filename='images/plus.png') }}">
                    </div>
                    <div id="answer-2" class="div-answer">
                        <div class="answer">
                            Весь товар відправляється безпосередньо з нашого складу у м. Харків, де кожен товар ретельно перевіряється та упаковується
                        </div>
                    </div>
                </div>
                <div class="div-quiz">
                    <div class="div-question">
                        <div class="question">У чому вигода опту?</div>
                        <img id="quiz-3" class="qu-an-img" src="{{ url_for('static', filename='images/plus.png') }}">
                    </div>
                    <div id="answer-3" class="div-answer">
                        <div class="answer">
                            Оптова ціна значно нижча, ніж дроп, тому прибуток з одного продажу у вас буде помітно вищий
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

{% endblock %}